html,
body {
  height: 100%;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.text-center {
  text-align: center;
}
.wrap .header .logo {
  float: left;
  width: 300px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/logo_ceshi.png);
}
.wrap .header .navs {
  float: left;
}
.wrap .header .navs .nav {
  cursor: pointer;
  display: inline-block;
  margin: 14px 10px;
  padding: 5px 20px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #9fc5ff;
  background: transparent;
  border: 1px solid transparent;
  -webkit-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  transition: all linear 0.15s;
}
.wrap .header .navs .nav:hover {
  color: #fff;
  background: #1755b5;
  background: rgba(23, 85, 181, 0.9);
}
.wrap .header .navs .nav.current,
.wrap .header .navs .nav.current:hover {
  color: #fff;
  border-color: #00deff;
  background: transparent;
  cursor: default;
}
.wrap .header .avatar {
  float: right;
  height: 60px;
}
.wrap .header .avatar .sayhi {
  float: left;
  height: 60px;
  line-height: 60px;
  color: #9fc5ff;
}
.wrap .header .avatar .sayhi .time {
  color: #9fc5ff;
}
.wrap .header .avatar .sayhi .nickname {
  color: #fff;
}
.wrap .header .avatar .user {
  float: left;
}
.wrap .header .avatar .user .layui-nav {
  padding-left: 0;
}
.wrap .header .avatar .user .layui-nav .layui-nav-item {
  position: relative;
}
.wrap .header .avatar .user .layui-nav .layui-nav-item > a {
  padding-left: 5px;
}
.wrap .header .avatar .user .layui-nav .layui-nav-item .layui-nav-img {
  margin-top: 16px;
  margin-right: 0;
}
.wrap .header .avatar .user .layui-nav .layui-nav-item .layui-nav-child {
  right: 0;
  left: auto;
}
.wrap .header .avatar .user .layui-nav .layui-nav-item .message_num {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 16px;
  top: 12px;
  border-radius: 50%;
  background: #FF5722;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.guide {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  background: #037dd2;
}
.guide .guide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.guide .guide-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.guide .guide-box .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-top: -25px;
  margin-left: -120px;
  width: 240px;
  height: 50px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: #0055d9;
  background: rgba(12, 81, 205, 0.8);
  border: 3px solid #c7f3ff;
  border: 3px solid rgba(199, 243, 255, 0.6);
  -webkit-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  transition: all linear 0.15s;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.guide .guide-box .btn:hover {
  margin-top: -27px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 90, 160, 0.9);
  -ms-box-shadow: 0 5px 25px rgba(0, 90, 160, 0.9);
  -moz-box-shadow: 0 5px 25px rgba(0, 90, 160, 0.9);
  box-shadow: 0 5px 25px rgba(0, 90, 160, 0.9);
}
.guide .guide-loading {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  background: url(../images/loading.gif);
}
.fishmodules {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 580px;
}
.fishmodules .moduleitem {
  display: inline-block;
  padding: 10px 30px 15px;
  border: 1px solid transparent;
  text-align: center;
  color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  transition: all linear 0.15s;
}
.fishmodules .moduleitem img {
  width: 64px;
  height: 64px;
  border: 0;
}
.fishmodules .moduleitem .ico {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-image: url(../images/module.png);
}
.fishmodules .moduleitem .ico.ico-user {
  background-position: 0 0;
}
.fishmodules .moduleitem .ico.ico-chart {
  background-position: -120px 0;
}
.fishmodules .moduleitem .ico.ico-userlist {
  background-position: -240px 0;
}
.fishmodules .moduleitem .ico.ico-module {
  background-position: -360px 0;
}
.fishmodules .moduleitem .ico.ico-defense {
  background-position: 0 -120px;
}
.fishmodules .moduleitem .ico.ico-edit {
  background-position: -120px -120px;
}
.fishmodules .moduleitem .ico.ico-list {
  background-position: -240px -120px;
}
.fishmodules .moduleitem .ico.ico-check {
  background-position: -360px -120px;
}
.fishmodules .moduleitem .tit {
  margin-top: 5px;
  height: 36px;
  line-height: 18px;
  font-size: 14px;
  overflow: hidden;
}
.fishmodules .moduleitem:hover {
  background: #f3f8ff;
  background: rgba(243, 248, 255, 0.8);
  border-color: #d1e5ff;
  margin-top: -2px;
  color: #108ee9;
  -webkit-box-shadow: 0 3px 20px rgba(0, 109, 255, 0.15);
  -ms-box-shadow: 0 3px 20px rgba(0, 109, 255, 0.15);
  -moz-box-shadow: 0 3px 20px rgba(0, 109, 255, 0.15);
  box-shadow: 0 3px 20px rgba(0, 109, 255, 0.15);
}
.fishmodules .stepitem {
  width: 320px;
  height: 300px;
  background-repeat: no-repeat;
  background-image: url(../images/step.png);
}
.fishmodules .stepitem.step1 {
  background-position: 0 0;
}
.fishmodules .stepitem.step2 {
  background-position: -320px 0;
}
.fishmodules .stepitem.step3 {
  background-position: -640px 0;
}
.fishmodules .stepitem.step4 {
  background-position: -960px 0;
}
.fishmodules .stepimg {
  width: 140px;
  height: 131px;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .fishmodules .moduleitem img {
    width: 64px;
    height: 64px;
  }
  .fishmodules .stepimg {
    width: 140px;
    height: 131px;
  }
}
@media (min-width: 992px) {
  .fishmodules .moduleitem img {
    width: 80px;
    height: 80px;
  }
  .fishmodules .stepimg {
    width: 180px;
    height: 168px;
  }
}
@media (min-width: 1200px) {
  .fishmodules .moduleitem img {
    width: 100px;
    height: 100px;
  }
  .fishmodules .stepimg {
    width: 220px;
    height: 206px;
  }
}
